---
layout: default
---

<header class="header">
  <div class="header-title">
    <a href="{{ site.url }}{{ site.baseurl }}">{{ site.name }}</a>
  </div>
  <nav class="header-nav">
    {% for nav in site.nav %}
    {% if nav.url contains 'http://' or nav.url contains 'https://' %}
    <a href="{{ nav.url }}">{{ nav.name }}</a>
    {% else %}
    <a href="{{ nav.url | prepend: site.baseurl }}">{{ nav.name }}</a>
    {% endif %}
    {% endfor %}
  </nav>
  
  <a href="https://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
</header>

<div class="list">
{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% else %}
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <div class="list-post">
    {% if post.link %}
    <a href="{{ post.link }}">
    {% else %}
    <a href="{{ post.url | prepend: site.baseurl }}">
    {% endif %}  
      <div class="list-post-date">
        <time>{{ post.date | date_to_string }}</time>
      </div>
      <div class="list-post-title">
        {{ post.title }}
      </div>
      {% if post.description %}
      <div class="list-post-desc">
        {{ post.description }}
      </div>
      {% endif %}
    </a>


  </div>
{% endfor %}
  <!-- Pagination links -->
  <div class="list-pagination">
    <span class="list-pagination-previous">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">
          &#xE000; previous
        </a>
      {% else %}

      {% endif %}
    </span>

    <span class="list-pagination-next">
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">
          next &#xE001;
        </a>
      {% else %}

      {% endif %}
    </span>

  </div>
{% endif %}
</div>
